---
interface Props {
  url?: string;
  img?: string;
  title?: string;
  date?: string;
  children?: string | HTMLElement | HTMLElement[];
}

const {
  url = "#",
  img = "https://fakeimg.pl/640x360",
  title = "Default title",
  date = "Wed Sept 11 2023",
} = Astro.props;

var day_start = new Date(date);
var day_end = new Date();
var total_days =
  (day_end.valueOf() - day_start.valueOf()) / (1000 * 60 * 60 * 24);
---

<div
  class="mb-2 flex flex-col justify-between rounded-lg bg-cover bg-center text-gray-50"
  style=`background-image: url(${img})`
>
  <div class="px-4">
    <span class="text-2xl font-bold">{title}</span>
  </div>
  <div class="px-4">
    <span>{date}</span> -
    <span>{Math.round(total_days)} days ago</span>
  </div>
  <div class="mt-4 px-4">
    <span>
      <p>
        <slot />
      </p>
    </span>
  </div>
  <div class="mt-4 px-4 py-2">
    <span class="rounded-md p-1 outline">
      <a href={url}> Read More</a>
    </span>
  </div>
</div>
